body {
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgb(72, 64, 69);
    color: white;
}

.navbar-brand {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    padding-right: 2rem;
}

.hero {
    background-image: url("/images/andrea-palacios-1412196-unsplash800px2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}  

.main-title {
    color: rgb(214, 29, 140);
}

.aWorldApart {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: url("../images/naassom-azevedo-541451-unsplash1600pxcropped.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aWorldApartText {
    position: relative;
    z-index: 1;
}

.aWorldApartHeading, .aWorldApartParagraph {
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
    color: white;
}

.aWorldApartHeading {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.7rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.aWorldApartParagraph {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.aWorldApart::after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(139, 100, 123), rgb(139, 100, 123));
    opacity: 0.9;
}

.discover {
    display: flex;
}

.discoverInner {
    display: flex;
}

.discoverHeading {
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    padding-top: 9rem;
    margin-left: 3rem;
    text-align: center;
}

.discoverItems {
    text-align: left;
    padding-top: 7rem;
    margin-left: 3rem;
}

.discoverImageFrame {
    padding: 2rem;
}

.discoverImage {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
    line-height: 3;
    font-size: 1.5rem;
}

.roundImages {
    display: flex;
    justify-content: center;
}

.round {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    shape-outside: circle(50%);
}

.centralImage {
    margin-left: 3rem;
    margin-right: 3rem;
}

footer {
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

@media only screen and (max-width: 1180px) {
    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media only screen and (max-width: 1160px) {
    .discoverInner {
        flex-direction: column;
    }

    .discoverHeading {
        padding-top: 5rem;
    }
    
    .discoverItems {
        padding-top: 3rem;
        margin-left: 3rem;
    }

    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media only screen and (max-width: 1160px) {
    .discoverHeading {
        font-size: 3rem;
        padding-top: 3rem;
    }
    
    .discoverItems {
        padding-top: 2rem;
        margin-left: 2rem;
    }
}

  @media only screen and (max-width: 910px) {
    
    .aWorldApartHeading {
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
    
    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (max-width: 870px) {
    .discoverHeading {
        font-size: 2.5rem;
        padding-top: 2rem;
    }
    
    .discoverItems {
        padding-top: 1rem;
        margin-left: 1rem;
    }

    li {
        line-height: 2;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 645px) {
    .discover {
        flex-direction: column;
    }

    .discoverItems {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        margin-left: 0;
    }

    .discoverHeading {
        font-size: 2rem;
        text-align: center;
        margin-left: 0;
    }

    li {
        line-height: 2;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    
    .navbar-brand {
        font-size: 2.5rem;
    }

    .aWorldApartHeading {
        padding-top: 3.5rem;
        padding-bottom: 1rem;
    }

    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

  @media only screen and (max-width: 450px) {
    
    .navbar-brand {
        font-size: 1.5rem;
    }

    .aWorldApartHeading {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }

    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .aWorldApartParagraph {
        padding-top: 0rem;
    }
}

  @media only screen and (max-width: 360px) {

    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}