* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

body {
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgb(72, 64, 69);
    color: white;
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

a:hover {
    color: rgb(214, 29, 140);
    text-decoration: underline;
}

.smallText {
    font-size: 0.8rem;
}

.logo {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    margin-left: 2rem;
    margin-top: 1rem;
}

.logo:hover {
    text-decoration: none;
}

.main-title1 {
    color: white;
}
.main-title2 {
    color: rgb(214, 29, 140);
}

.hero {
    display: flex;
    justify-content: space-between;
    background-image: url("images/andrea-palacios-1412196-unsplash800px2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}  

.navList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
}

.navListItem {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.aWorldApart {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: url("images/naassom-azevedo-541451-unsplash1600pxcropped.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aWorldApartText {
    position: relative;
    z-index: 1;
}

.aWorldApartHeading, .aWorldApartParagraph {
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
    color: white;
}

.aWorldApartHeading {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.7rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.aWorldApartParagraph {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.aWorldApart::after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(139, 100, 123), rgb(139, 100, 123));
    opacity: 0.9;
}

.discover {
    display: flex;
}

.discoverInner {
    display: flex;
}

.discoverHeading {
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    padding-top: 9rem;
    margin-left: 2rem;
    text-align: center;
}

.discoverItems {
    text-align: left;
    padding-top: 7rem;
    margin-left: 3rem;
}

.discoverImageFrame {
    padding: 2rem;
}

.discoverImage {
    max-width: 100%;
    height: auto;
}

.discoverListItems {
    line-height: 3;
}

.roundImages {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.round {
    border-radius: 50%;
    width: 20%;
    height: 20%;
}

.centralImage {
    margin-left: 3rem;
    margin-right: 3rem;
}

footer {
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

@media only screen and (max-width: 1180px) {
    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media only screen and (max-width: 1160px) {
    .discoverInner {
        flex-direction: column;
    }

    .discoverHeading {
        padding-top: 5rem;
    }
    
    .discoverItems {
        padding-top: 3rem;
        margin-left: 3rem;
    }

    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media only screen and (max-width: 1150px) {
    .hero {
        flex-direction: column;
        justify-content: flex-start;
    }

    .logo {
        margin-left: 1rem;
    }
    .navListItem {
        margin-top: 0;
    }
    
}

@media only screen and (max-width: 1160px) {
    .discoverHeading {
        font-size: 3rem;
        padding-top: 3rem;
    }
    
    .discoverItems {
        padding-top: 2rem;
        margin-left: 2rem;
    }
}

  @media only screen and (max-width: 910px) {
    
    .aWorldApartHeading {
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
    
    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (max-width: 870px) {
    .discoverHeading {
        font-size: 2.5rem;
        padding-top: 2rem;
        margin-left: 1rem;
    }
    
    .discoverItems {
        padding-top: 1rem;
        margin-left: 1rem;
    }

    .discoverListItems {
        line-height: 2;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 720px) {
    li {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 645px) {
    .discover {
        flex-direction: column;
    }

    .discoverItems {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        margin-left: 0;
    }

    .discoverHeading {
        font-size: 2rem;
        text-align: center;
        margin-left: 0;
    }

    .discoverListItems {
        line-height: 2;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    
    .logo {
        font-size: 2.5rem;
    }

    .aWorldApartHeading {
        padding-top: 3.5rem;
        padding-bottom: 1rem;
    }

    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 540px) {
    .aWorldApartHeading {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 450px) {
    
    .logo {
        font-size: 1.5rem;
    }

    .aWorldApartHeading, .aWorldApartParagraph {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .aWorldApartParagraph {
        padding-top: 0rem;
    }
}

@media only screen and (max-width: 375px) {
    .aWorldApartHeading {
        font-size: 2rem;
    }
}

.pageLayout {
    padding: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
}

.homeButtonTopMargin {
    margin-top: 4rem;
}

.homeButton {
    background-color: blue;
    padding: 0.2rem;
    border-radius: 10%;
    border: none;
}

.homeButtonText {
    color: white;
}

